<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href='css/styles.css' rel='stylesheet'>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Play Rock Paper Scissors with your friend!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 button-field-height {{col1}}">

                    {% if display == "player1" %}

                        <p class="lead">
                            Player 1's turn!
                        </p>
                        <form action="/player2" method="post">

                            <button type="submit" name="player1" value="Rock" class="btn btn-default">Rock</button>
                            <button type="submit" name="player1" value="Paper" class="btn btn-default">Paper</button>
                            <button type="submit" name="player1" value="Scissors" class="btn btn-default">Scissors</button>

                        </form>

                    {% endif %}

                </div>
                <div class="col-sm-5 col-sm-offset-2 button-field-height {{col2}}">

                    {% if display == "player2" %}

                    <p class="lead">
                        Player 2's turn!
                    </p>
                    <form action="/outcome" method="post">

                        <button type="submit" name="player2" value="Rock" class="btn btn-default">Rock</button>
                        <button type="submit" name="player2" value="Paper" class="btn btn-default">Paper</button>
                        <button type="submit" name="player2" value="Scissors" class="btn btn-default">Scissors</button>

                    </form>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <form action='/computer' method='post'>
                        <button type="submit" name="computer" class="btn btn-primary">Play against the computer!</button>
                    </form>
                </div>
            </div>

            {% endif %}
        </div>
    </body>
</html>
