<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
        <title>Winner!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Winner!</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 button-field-height selected">
                    <h3>Winner!</h3>
                    <p>rock, or whatever</p>

                </div>
                <div class="col-sm-5 col-sm-offset-2 button-field-height loser">
                    <h3>Better luck next time!</h3>
                    <p>scissors, i guess!</p>
                </div>
            </div>
        </div>
    </body>
</html>
